html {
  position: relative;
  display: flex;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  display: flex;
  flex-direction: column;
  fleX: 1;
}

#root {
  display: flex;
  flex: 1;
}
